@import '../../variables';

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: $header-height;
  padding: 0 20px;
  background-color: #333;

  .authAction {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }

  .avatarWrap {

  }
}