.signOutForm {
  // position: absolute;
  // top: 20px;
  // right: 20px;
  .signOutButton {
    display: grid;
    place-items: center;
    width: 100px;
    height: 30px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    transition: .3s;
    box-shadow: -1px -1px 2px 2px #777777;
    cursor: pointer;

    &:hover {
      background-color: rgb(217, 235, 241);
    }
  }
}
