form {
  display: grid;
  place-items: center;
  .signInButton {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    transition: box-shadow .2s;
    box-shadow: 1px 1px 1px 3px #777777;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      box-shadow:  -1px -1px 1px 1px #777777;
    }

    .authSvg {
      width: 40px;
      height: 40px;
    }
    .logInText {
      font-size: 24px;
    }
  }
}