@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif; /* 引用符を削除 */
  list-style: none;
}

:root {
  background-color: #fff; /* 色指定を短縮形に変更 */
}

body {
  height: 100%;
  overflow-y: scroll;
  background-color: #fefefe;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}