.mask {
  position: fixed;
  inset: 0;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  
  &.isOpen {
    visibility: visible;
    opacity: 0.3;
  }
}

.modal {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #333;
  visibility: hidden;
  opacity: 0;

  &.isOpen {
    visibility: visible;
    opacity: 1;
  }

  .modalTitle {
    position: absolute; 
    top: 30px; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 12px;
  }

  .modalContents {
    .modalInput {
      position: relative;
      width: 250px;
      &:focus {
        background-color: #e0e0e0;
        outline: none;
      }

    }
    .deleteContentBtn {
      position: absolute;
      right: 24px;
      width: 30px;
      // height: 24px;
      background-color: #fff;
      cursor: pointer;
    }
  }
  .modalBtns {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    gap: 10px;

    .decisionBtn, .cancelBtn {
      background-color: #fff;
      font-size: 12px;
      cursor: pointer;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }

    .decisionBtn {
      pointer-events: none;
      opacity: 0.1;
      &.isActive {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
}