.price {
  display: flex;
  align-items: flex-end;
  padding-right: 100px;
  position: absolute;
  right: 0px;
  .priceLogo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .eachPrice, .totalPrice {
    font-weight: 700;
  }
  .eachPrice {
    width: 100px;
  }
  .totalPrice {
    width: 100px;
  }
}